## Задача 1

Оформляйте ноутбук, используя эти советы:

Номер задачи - ## заголовок2

Номер подзадачи - ### заголовок 3

Предоставленные наборы данных оформляйте, как код

## Задача 2

На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fructus(**kwargs):
    
    total_fructus = sum(kwargs.values())
    
    return f'Total fructus: {total_fructus}'

In [2]:
print(print(fructus(apples=26, pears=18, bananas=41)))

Total fructus: 85
None

# Задача 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [3]:
[100, 125, -90, 345, 655, -1, 0, 200]

[100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
def expenses(data: list):
    
    new_data = []
    
    for i in data:
        if i > 0:
            new_data.append(i)
            
    print(new_data)
    print(f'Total expenses: {sum(new_data)}')

In [5]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

expenses(data)

[100, 125, 345, 655, 200]
Total expenses: 1425

# Задача 4

Даны два списка.

Дата покупки

In [7]:
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

['2021-09-14',
 '2021-12-15',
 '2021-09-08',
 '2021-12-05',
 '2021-10-09',
 '2021-09-30',
 '2021-12-22',
 '2021-11-29',
 '2021-12-24',
 '2021-11-26',
 '2021-10-27',
 '2021-12-18',
 '2021-11-09',
 '2021-11-23',
 '2021-09-27',
 '2021-10-02',
 '2021-12-27',
 '2021-09-20',
 '2021-12-13',
 '2021-11-01',
 '2021-11-09',
 '2021-12-06',
 '2021-12-08',
 '2021-10-09',
 '2021-10-31',
 '2021-09-30',
 '2021-11-09',
 '2021-12-13',
 '2021-10-26',
 '2021-12-09']

Суммы покупок по датам

In [8]:
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

[1270,
 8413,
 9028,
 3703,
 5739,
 4095,
 295,
 4944,
 5723,
 3701,
 4471,
 651,
 7037,
 4274,
 6275,
 4988,
 6930,
 2971,
 6592,
 2004,
 2822,
 519,
 3406,
 2732,
 5015,
 2008,
 316,
 6333,
 5700,
 2887]

### 4.1

Найдите, какая выручка у компании в ноябре

In [4]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [5]:
def november(data1: list, data2: list) -> list:
    
    new_data = []
    
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
            
    return new_data

In [6]:
print(november(date, amount))
print(f'Profit: {sum(november(date, amount))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Profit: 25098

In [7]:
print([amount[i] for i in range(0, len(date)-1) if "-11" in date[i]])
print(f'Profit: {sum([amount[i] for i in range(len(date)-1) if "-11" in date[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Profit: 25098

# Заголовок 4.2

Найдите выручку компании в зависимости от месяца Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [10]:
def profits(data1: list, data2: list) -> dict:
    
    profits = {}
    
    for i in range(len(data1)):
        
        if date[i].split('-')[1] in profits.keys():
            profits[date[i].split('-')[1]] += cost[i]
        else:
            profits[date[i].split('-')[1]] = cost[i]
            
    return profits

print(profits(date, cost))

NameError: name 'cost' is not defined